@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');

.rx {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    grid-template-rows: auto;
    grid-gap: 0 40px;
}

    .rx .rx_box {
        position: relative;
        height: auto;
        background: #060c21;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #000;
        padding: 20px 0px;
    }

        .rx .rx_box::before {
            content: '';
            position: absolute;
            top: -2px;
            left: -2px;
            right: -2px;
            bottom: -2px;
            background: #fff;
            transform: skew(2deg,2deg);
            z-index: -1;
        }

        .rx .rx_box:nth-child(1)::before {
            background: linear-gradient(315deg, #ff0057, #e64a19);
        }

        .rx .rx_box:nth-child(2)::before {
            background: linear-gradient(315deg, #89ff00, #00bcd4);
        }

        .rx .rx_box:nth-child(3)::before {
            background: linear-gradient(315deg, #e91e63, #5d02ff);
        }

        .rx .rx_box::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 50%;
            height: 100%;
            background: rgba(255,255,255,0.05);
            pointer-events: none;
        }

.rx_content {
    position: relative;
    padding: 20px;
    transform: translateY(30px);
    transition: 0.5s;
}
.rx_box:hover .rx_content {
    transform: translateY(-10px);
}

.rx_box .rx_content h2 {
    position: absolute;
    top: -60px;
    right: 20px;
    margin: 0;
    padding: 0;
    font-size: 10em;
    color: rgba(255,255,255,.05);
    transition: 0.5s;
}

.rx_box:hover .rx_content h2 {
    top: -140px;
}

.rx_box .rx_content h3 {
    margin: 0 0 10px;
    padding: 0;
    font-size: 24px;
    font-weight: 500;
    color: #fff;
}

.rx_box .rx_content p {
    margin: 15px 0px;
    padding: 0;
    color: #fff;
    font-size: 16px;
}

.rx_box .rx_content a {
    position: relative;
    margin: 20px 0 0;
    padding: 10px 20px;
    text-decoration: none;
    border: 1px solid #fff;
    display: inline-block;
    color: #fff;
    transition: 0.5s;
    transform: translateY(-40px);
    opacity: 0;
    visibility: hidden;
}

.rx_box:hover .rx_content a {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}

.rx_box .rx_content a:hover {
    color: #000;
    background: #fff;
}

