
@model AboutUs

<form id="aboutUs-EditForm" class="createForm" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-12">
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="AboutMainSologan"></label>
                <input asp-for="AboutMainSologan" type="text" class="form-control" />
                <span asp-validation-for="AboutMainSologan" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="AboutMainSologanDescription"></label>
                <textarea id="d1" asp-for="AboutMainSologanDescription"></textarea>
                <span asp-validation-for="AboutMainSologanDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OurMission"></label>
                <input asp-for="OurMission" type="text" class="form-control" />
                <span asp-validation-for="OurMission" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OurMissionDescription"></label>
                <textarea id="d2" asp-for="OurMissionDescription"></textarea>
                <span asp-validation-for="OurMissionDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OurVission"></label>
                <input asp-for="OurVission" type="text" class="form-control" />
                <span asp-validation-for="OurVission" class="text-danger"></span>
            </div>

            <div id="datatoggle">
                <div class="form-group">
                    <label asp-for="OurVissionDescription"></label>
                    <textarea id="d3" asp-for="OurVissionDescription"></textarea>
                    <span asp-validation-for="OurVissionDescription" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="WhyUs"></label>
                    <input asp-for="WhyUs" type="text" class="form-control" />
                    <span asp-validation-for="WhyUs" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="WhyUsDescription"></label>
                    <textarea id="d4" asp-for="WhyUsDescription"></textarea>
                    <span asp-validation-for="WhyUsDescription" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="WhoWeAre"></label>
                    <input asp-for="WhoWeAre" type="text" class="form-control" />
                    <span asp-validation-for="WhoWeAre" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description"></label>
                    <textarea id="d5" asp-for="Description"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="ImageOne"></label>
                    <input id="logo1" name="image1" type="file" class="form-control" />
                    <span asp-validation-for="ImageOne" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ImageTwo"></label>
                    <input id="logo2" name="image2" type="file" class="form-control" />
                    <span asp-validation-for="ImageTwo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ImageThree"></label>
                    <input id="logo3" name="image3" type="file" class="form-control" />
                    <span asp-validation-for="ImageThree" class="text-danger"></span>
                </div>
                <div id="logo-preview1" class="image-preview" style="display: none;">
                    <div id="text" style="display: none;"></div>
                    <img id="preview1" src="@Model.ImageOne" />
                </div>
                <div id="logo-preview" class="image-preview" style="display: none;">
                    <div id="text" style="display: none;"></div>
                    <img id="preview" src="@Model.ImageTwo" />
                </div>
                <div id="logo-preview" class="image-preview" style="display: none;">
                    <div id="text" style="display: none;"></div>
                    <img id="preview" src="@Model.ImageThree" />
                </div>
            </div>
        </div>
    </div>

    <div id="alert"></div>
    <button class="btn btn-success form-control" type="submit">Save</button>
</form>
<script>
    $("#d1").summernote({
        height: 80
    });
    $("#d2").summernote({
        height: 80
    });
    $("#d3").summernote({
        height: 80
    });
    $("#d4").summernote({
        height: 80
    });
    $("#d5").summernote({
        height: 80
    });

    $("#aboutUs-EditForm").on("submit", function (e) {
        e.preventDefault();
        let formData = new FormData();

        let aboutus = objectifyForm($(this).serializeArray());
        formData.append("image1", $("#logo1")[0].files[0]);
        formData.append("image2", $("#logo2")[0].files[0]);
        formData.append("image3", $("#logo3")[0].files[0]);


        for (var key in aboutus) {
            formData.append(key, aboutus[key]);
        }
        $.ajax({
            url: "/AboutUses/Edit",
            type: "POST",
            processData: false,
            contentType: false,
            data: formData,
            success: function (response) {
                $("#aboutus-editFormDiv").html(response);
                dataTable.fnFilter();
                $("#aboutus-editModal").modal('hide');
            }
        });
    });

    $("#logo1").on("change", function () {
        let maxWidth = 5000;
        let maxHeight = 5000;
        let input = $(this);
        let preview = $("#preview1");
        let logo_preview = $("#logo-preview1");
        fileOnSelect(maxWidth, maxHeight, input, preview, logo_preview);
    });

</script>