
@model ClientProduct

<form id="clientProject-EditForm" class="createForm">
    <div class="row">
        <div class="col-md-12">
            <input type="hidden" asp-for="Id"  />
            <div class="form-group">
                <label asp-for="ClientId"></label>
                <select id="menuId" asp-for="ClientId" asp-items="ViewBag.ClientId" class="form-control" style="width: 100%;">
                    <option value="0">---Select---</option>
                </select>
                <span asp-validation-for="ClientId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductId"></label>
                <select id="menuId" asp-for="ProductId" asp-items="ViewBag.ProductId" class="form-control" style="width: 100%;">
                    <option value="0">---Select---</option>
                </select>
                <span asp-validation-for="ProductId" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div id="alert"></div>
    <button class="btn btn-success form-control" type="submit">Save</button>
</form>

<script>
    $("#clientProject-EditForm").on("submit", function (e) {
        e.preventDefault();
        let data = objectifyForm($(this).serializeArray());
        $.ajax({
            url: "/ClientProducts/Edit",
            type: "POST",
            data: data,
            success: function (response) {
                $("#clientproject-editFormDiv").html(response);
                dataTable.fnFilter();
                $("#clientproject-editModal").modal('hide');
            }
        });
    });
</script>