@model HostingPlan
    <form id="hosting-editForm" class="createForm">
        <div class="row">
            <div class="col-md-12">
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" type="text" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Space"></label>
                    <input asp-for="Space" type="text" class="form-control" />
                    <span asp-validation-for="Space" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Bandwidth"></label>
                    <input asp-for="Bandwidth" type="text" class="form-control" />
                    <span asp-validation-for="Bandwidth" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Domain"></label>
                    <input asp-for="Domain" type="text" class="form-control" />
                    <span asp-validation-for="Domain" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SubDomain"></label>
                    <input asp-for="SubDomain" type="text" class="form-control" />
                    <span asp-validation-for="SubDomain" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Alias"></label>
                    <input asp-for="Alias" type="text" class="form-control" />
                    <span asp-validation-for="Alias" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" type="text" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CPanel"></label>
                    <br />
                    <input asp-for="CPanel" type="radio" value="True" />Yes
                    <input asp-for="CPanel" type="radio" value="False" /> No
                    <span asp-validation-for="CPanel" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MonthlyPrice"></label>
                    <input asp-for="MonthlyPrice" type="text" class="form-control" />
                    <span asp-validation-for="MonthlyPrice" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="YearlyPrice"></label>
                    <input asp-for="YearlyPrice" type="text" class="form-control" />
                    <span asp-validation-for="YearlyPrice" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PriceUnit"></label>
                    <input asp-for="PriceUnit" type="text" class="form-control" />
                    <span asp-validation-for="PriceUnit" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div id="alert"></div>
        <button class="btn btn-success form-control" type="submit">Save</button>
    </form>

    <script>
        $("#hosting-editForm").on("submit", function (e) {
            e.preventDefault();
            let data = objectifyForm($(this).serializeArray());
            $.ajax({
                url: "/HostingPlans/Edit",
                type: "POST",
                data: data,
                success: function (response) {
                    $("#hosting-editFormDiv").html(response);
                    dataTable.fnFilter();
                    $("#hosting-editModal").modal('hide');
                }
            });
        });
    </script>