<div class="rx_login">
    <h2>Contact Us</h2>
    <form>
        <div class="input-group">
            <input type="text" name="" required="required" />
            <span>Name</span>
        </div>
        <div class="input-group">
            <input type="email" name="" required="required" />
            <span>Email</span>
        </div>
        <div class="input-group">
            <input type="text" name="" required="required" />
            <span>Phone</span>
        </div>
        <div class="input-group">
            <textarea></textarea>
            <span>Your Message</span>
        </div>
        <div class="input-group">
            <input type="submit" value="Submit" />
        </div>
    </form>
    @*<a href="#">Forgot Password <span>Click Here</span></a>*@
</div>