@model List<Product>

<h2 class="font-weight-normal text-color-dark text-center text-7 pb-2 pt-5">Our <strong class="font-weight-extra-bold">Popular</strong> Products</h2>
<div class="row justify-content-center py-4 my-5">
    <div class="col-lg-12">
        @if (Model.Count() > 0)
        {
            <div class="tabs tabs-bottom tabs-center tabs-simple">
                <ul class="nav nav-tabs mb-3">
                    @foreach (var item in Model)
                    {
                        <li class="nav-item appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="200" style="width: 200px; height: 200px;">
                            <a class="nav-link" href="#tabsNavigationSimpleIcons_@item.Id" data-toggle="tab">
                                <img src="@item.Image" class="img-fluid hover-effect-2" alt="" style="width: 75px; height: 65px; object-fit: contain;">
                                <h4 class="font-weight-bold text-color-dark text-3 mb-0 pb-0 mt-2">@item.Name</h4>
                            </a>
                        </li>
                    }
                </ul>

                <div class="tab-content appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="300">
                    @foreach (var item in Model)
                    {
                        <div class="tab-pane" id="tabsNavigationSimpleIcons_@item.Id">
                            <div class="text-center">
                                <p class="lead mb-4">@Html.Raw(item.Description)</p>
                            </div>
                        </div>
                    }
                </div>
            </div>
        }
    </div>
</div>
