@model List<ChooseUs>

<div class="container" style="padding: 0;">
    <h2 class="font-weight-normal text-color-dark text-center text-7 pb-2 pt-5">Why <strong class="font-weight-extra-bold">Choose</strong> Us</h2>
    <div id="whyChooseUsSection" data-slick='{"slidesToShow": 3, "slidesToScroll": 3}'>
        @if (Model.Count() > 0)
        {
            foreach (var item in Model)
            {
                char[] shortDescriptionArray = item.ShortDescription.ToCharArray();

                if (shortDescriptionArray.Length > 60)
                {
                    string shortDescription = string.Empty;

                    for (int i = 0; i < 60; i++)
                    {
                        shortDescription += shortDescriptionArray[i];
                    }

                    <div class="col-md-12 mb-4 mb-md-0">
                        <div class="row justify-content-center justify-content-md-start">
                            <div class="col-4">
                                <img class="lazy img-fluid" src="~/porto_7.4.0/img/icons/seo-grey.png" alt="">
                            </div>
                            <div class="col-lg-8">
                                <h2 class="font-weight-bold text-5 line-height-5 mb-1">@Html.Raw(item.Title)</h2>
                                <p class="mb-0">@shortDescription</p>
                                <a href="#">more . . .</a>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="col-md-12 mb-4 mb-md-0">
                        <div class="row justify-content-center justify-content-md-start">
                            <div class="col-4">
                                <img class="lazy img-fluid" src="~/porto_7.4.0/img/icons/seo-grey.png" alt="">
                            </div>
                            <div class="col-lg-8">
                                <h2 class="font-weight-bold text-5 line-height-5 mb-1">@Html.Raw(item.Title)</h2>
                                <p class="mb-0">@item.ShortDescription</p>
                            </div>
                        </div>
                    </div>
                }
            }
        }
    </div>
</div>

<script>
    $("#whyChooseUsSection").slick({
        autoplay: true,
        arrows: false,
        autoplaySpeed: 2000,
        easing: 'linear',
        infinite: true,
        pauseOnHover: true
    });
</script>