@model FaqVm

<div role="main" class="main">
    <div class="container py-4">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <h2 class="font-weight-normal text-center text-7 mb-1">How can we <strong class="font-weight-extra-bold">HELP</strong> you?</h2>
                <p class="lead"></p>

                <hr class="solid my-5">

                <div id="accordion">
                    @foreach (var item in Model.Faqs)
                    {
                        <h3 class="collapse_jquery_h3">Q. @item.Question</h3>
                        <div class="collapse_jquery_div">
                            <p class="collapse_jquery_p">
                                @Html.Raw(item.Answer)
                            </p>
                        </div>
                    }
                </div>

            </div>

        </div>

    </div>

</div>

@section Styles{
    <style>
        .collapse_jquery_h3 {
            background-color: #08c;
            border: none;
            color: #fff;
            font-weight: 600;
            font-size: 110% !important;
        }

        .collapse_jquery_p {
            color: #111;
            padding: 0;
            margin: 0;
        }

            .collapse_jquery_p p {
                padding: 0;
                margin: 0;
            }

        .ui-icon {
            width: 20px !important;
            height: 16px !important;
        }
    </style>
}


@section Scripts{
    <script>
        (function () {
            $("#accordion").accordion({
                collapsible: true,
                active: false
            });
        })();
    </script>
}