@model Job
<form id="job-editForm" class="createForm">
    <div class="row">
        <div class="col-md-12">
              <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Title"></label>
                <input type="text" asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description"></label>
                <textarea id="description" asp-for="Description"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location"></label>
                <input type="text" asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Qualification"></label>
                <input type="text" asp-for="Qualification" class="form-control" />
                <span asp-validation-for="Qualification" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JobCreateDate"></label>
                <input type="date" asp-for="JobCreateDate" class="form-control" />
                <span asp-validation-for="JobCreateDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeadLine"></label>
                <input type="date" asp-for="DeadLine" class="form-control" />
                <span asp-validation-for="DeadLine" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div id="alert"></div>
    <button class="btn btn-success form-control" type="submit">Save</button>
</form>

<script>
   $("#description").summernote({
        height:60
    });
    $("#job-editForm").on("submit", function (e) {
        e.preventDefault();
        let data = objectifyForm($(this).serializeArray());
        console.log(data);
        $.ajax({
            url: "/Jobs/Edit",
            type: "POST",
            data: data,
            success: function (response) {
                $("#job-editFormDiv").html(response);
                dataTable.fnFilter();
                  $("#job-editModal").modal('hide');
            }
        });
    });
</script>