@model Department
<form id="department-createForm" class="createForm">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" type="text" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

        </div>

    </div>
    <div id="alert"></div>
    <button class="btn btn-success form-control" type="submit">Save</button>
</form>


<script>
  
    $("#department-createForm").on("submit", function (e) {
        e.preventDefault();

        let data = objectifyForm($(this).serializeArray());

        $.ajax({
            type: "POST",
            url: "/Departments/Create",
            data: data,
            success: function (response) {
                $("#department-createFormDiv").html(response);
                dataTable.fnFilter();
                $("#department-createModal").modal('hide');
            }
        });
    });
</script>