@{
    Layout = "_Layout";
    ViewData["Title"] = "ContactUs";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h4>ContractUs Information</h4>
        <button id="contractus-modalBtn" class="btn btn-primary panel-header-create-btn" data-toggle="modal" data-target="#contactus-createModal">Create</button>
    </div>
    <div class="panel-body">
        <table id="contactusDatatable" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th>Message</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="contactusTableBody"></tbody>
        </table>
    </div>
</div>


<div id="contactus-createModal"
     class="modal fade"
     tabindex="-1"
     role="dialog"
     aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-rx" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Create ContactUs Information</h4>
            </div>
            <div class="modal-body">
                <div id="contactus-createFormDiv"></div>
            </div>
        </div>
    </div>
</div>


<div id="contact-editModal"
     class="modal fade"
     tabindex="-1"
     role="dialog"
     aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-rx" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Update Contact Us Information</h4>
            </div>
            <div class="modal-body">
                <div id="contact-editFormDiv"></div>
            </div>
        </div>
    </div>
</div>


@section Scripts{

    <script src="~/js/ContractUs/contactus.js"></script>

}
