
@{
    Layout = "_Layout";
    ViewData["Title"] = "Service Category";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h4>Service Categories</h4>
        <button id="serviceCategory-modalBtn" class="btn btn-primary panel-header-create-btn" data-toggle="modal" data-target="#serviceCategory-createModal">Create</button>
    </div>
    <div class="panel-body">
        <table id="serviceCategoryDatatable" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="serviceCategoryTableBody"></tbody>
        </table>
    </div>
</div>


<div id="serviceCategory-createModal"
     class="modal fade"
     tabindex="-1"
     role="dialog"
     aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-rx" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Create Service Category</h4>
            </div>
            <div class="modal-body">
                <div id="serviceCategory-createFormDiv"></div>
            </div>
        </div>
    </div>
</div>

<div id="serviceCategory-editModal"
     class="modal fade"
     tabindex="-1"
     role="dialog"
     aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-rx" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Update Service Category</h4>
            </div>
            <div class="modal-body">
                <div id="serviceCategory-editFormDiv"></div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/ServiceCategories/serviceCategories.js"></script> 
}

