
@model Banner
<form id="banner-editForm" class="createForm" enctype="multipart/form-data">

    <div class="row">
        <input type="hidden" asp-for="Id"  />
        <div class="col-md-12">
            <div id="logo-preview" class="image-preview " style="display: none;">
                <div id="text" style="display: none;"></div>
                <img id="preview" src="#" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label asp-for="SolganOne"></label>
              
                <textarea id="sologan1"  asp-for="SolganOne"> </textarea>
                <span asp-validation-for="SolganOne" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="SolganTwo"></label>
            
                <textarea id="sologan2"  asp-for="SolganTwo"></textarea>
                <span asp-validation-for="SolganTwo" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="SolganThree"></label>
                <textarea id="sologan3"  asp-for="SolganThree"></textarea>
                <span asp-validation-for="SolganThree" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image"></label>
                <input id="logo" name="image" type="file" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
        </div>

    </div>


    <div id="alert"></div>
    <button class="btn btn-success form-control" type="submit">Save</button>
</form>

<script>

    $("#sologan1").summernote({
        height:60
    });
     $("#sologan2").summernote({
          height:60
     });
     $("#sologan3").summernote({
          height:60
    });
    $("#banner-editForm").on("submit", function (e) {
        e.preventDefault();
         let formData = new FormData();
      
        let banner = objectifyForm($(this).serializeArray());
        
         formData.append("image", $("#logo")[0].files[0]);

        for (var key in banner) {
            formData.append(key, banner[key]);
        }
        $.ajax({
            url: "/Banners/Edit",
            type: "POST",
            data: formData,
            processData: false,
            contentType: false,
            success: function (response) {
                $("#banner-editFormDiv").html(response);
                dataTable.fnFilter();
            }
        });
    });
   $("#logo").on("change", function () {
        let maxWdth = 5000;
        let maxHeight = 5000;
        let input = $(this);
        let preview = $("#preview");
        let logo_preview = $("#logo-preview");
        fileOnSelect(input, maxWdth, maxHeight, preview, logo_preview);

    });

</script>