@model Menu

<form id="menu-editForm" class="createForm">
    <div class="row">
        <input asp-for="Id" type="hidden" class="form-control" />
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" type="text" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ControllerName"></label>
                <input asp-for="ControllerName" type="text" class="form-control" />
                <span asp-validation-for="ControllerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsActive"></label>
                <br />
                <input asp-for="IsActive" type="radio" value="True" /> True
                <input asp-for="IsActive" type="radio" value="False" /> False
                <span asp-validation-for="IsActive" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="ParentId"></label>
                <select asp-for="ParentId" asp-items="ViewBag.Menus" class="form-control">
                    <option value="0">Select...</option>
                </select>
                <span asp-validation-for="ParentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ActionName"></label>
                <input asp-for="ActionName" type="text" class="form-control" />
                <span asp-validation-for="ActionName" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div id="alert"></div>
    <button class="btn btn-success form-control" type="submit">Save</button>
</form>

<script>

    $("#menu-editForm").on("submit", function (e) {
        e.preventDefault();

        let data = objectifyForm($(this).serializeArray());

        $.ajax({
            url: "/Menus/Edit",
            type: "POST",
            data: data,
            success: function (response) {
                $("#menu-editFormDiv").html(response);
                dataTable.fnFilter();
            }
        });

    });
</script>