<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Alphasoft</title>

    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">

    <link href="~/lib/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/fontawesome-5.11.2/css/all.min.css" rel="stylesheet" />
    <link href="~/lib/fontawesome-5.11.2/css/brands.min.css" rel="stylesheet" />
    <link href="~/lib/fontawesome-5.11.2/css/solid.min.css" rel="stylesheet" />
    <link href="~/css/sidebar-menu.css" rel="stylesheet" />
    <link href="~/lib/DataTables/datatables.min.css" rel="stylesheet" />
    <link href="~/lib/select2-4.0.10/dist/css/select2.css" rel="stylesheet" />
    <link href="~/lib/summernote/dist/summernote.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/css/custom.css" rel="stylesheet" />
</head>
<body>
    <div style="width: 100%; height: 100vh;">
        <div style="width: 100%; height: 50px; background-color: #212529;">
            <div style="width: 200px; height: 44px; left: 40px; top: 3px; position: absolute;">
                <img src="~/images/alphalogo.png" style="width: 100%; height: 100%;" />
            </div>
        </div>
        <section style="width: 15%; float: left; font-size: 80%; font-weight: 500; height: 100%; background-color: #222d32;">
            <ul class="sidebar-menu">
                <li>
                    <a href="#">
                        <span style="font-size: 110%; font-weight: 800; text-transform: uppercase;">Alphasoft Technology LTD.</span>
                    </a>
                </li>
                <li>
                    <a href="/Products/Index">
                        <i class="fab fa-product-hunt"></i>
                        <span style="margin-left: 8px">Products</span>
                    </a>
                </li>
                <li>
                    <a href="/ServiceCategories/Index">
                        <i class="fab fa-product-hunt"></i>
                        <span style="margin-left: 8px">Service Categories</span>
                    </a>
                </li>
                <li>
                    <a href="/Services/Index">
                        <i class="fab fa-product-hunt"></i>
                        <span style="margin-left: 8px">Services</span>
                    </a>
                </li>

                <li>
                    <a href="/Contactus/Index">
                        <i class="fab fa-product-hunt"></i>
                        <span style="margin-left: 8px">Contactus</span>
                    </a>
                </li>


                <li>
                    <a href="/Departments/Index">
                        <i class="fab fa-product-hunt"></i>
                        <span style="margin-left: 8px">Department</span>
                    </a>
                </li>
                <li>
                    <a href="/Designations/Index">
                        <i class="fab fa-product-hunt"></i>
                        <span style="margin-left: 8px">Designation</span>
                    </a>
                </li>

                <li>
                    <a href="/ProductCategories/Index">
                        <i class="fab fa-product-hunt"></i>
                        <span style="margin-left: 8px">Product Categories</span>
                    </a>
                </li>
                <li>
                    <a href="/Menus/Index">
                        <i class="fab fa-product-hunt"></i>
                        <span style="margin-left: 8px">Menus Item</span>
                    </a>
                </li>
                <li>
                    <a href="/SubMenus/Index">
                        <i class="fab fa-product-hunt"></i>
                        <span style="margin-left: 8px">SubMenus Item</span>
                    </a>
                </li>
                <li>
                    <a href="/OurTeams/Index">
                        <i class="fab fa-product-hunt"></i>
                        <span style="margin-left: 8px">OurTeam</span>
                    </a>
                </li>

                <li>
                    <a href="/Faqs/Index">
                        <i class="fab fa-product-hunt"></i>
                        <span style="margin-left: 8px">Faq</span>
                    </a>
                </li>
                <li>
                    <a href="/Clients/Index">
                        <i class="fab fa-product-hunt"></i>
                        <span style="margin-left: 8px">Clients</span>
                    </a>
                </li>
                <li>
                    <a href="/Companies/Index">
                        <i class="fab fa-product-hunt"></i>
                        <span style="margin-left: 8px">Companies</span>
                    </a>
                </li>
                <li>
                    <a href="/WhyChooseUs/Index">
                        <i class="fab fa-product-hunt"></i>
                        <span style="margin-left: 8px">Choose Us</span>
                    </a>
                </li>
                <li>
                    <a href="/Banners/Index">
                        <i class="fab fa-product-hunt"></i>
                        <span style="margin-left: 8px">Banner Create</span>
                    </a>
                </li>
                <li>
                    <a href="/ClientProducts/Index">
                        <i class="fab fa-product-hunt"></i>
                        <span style="margin-left: 8px">ClientProjects</span>
                    </a>
                </li>
                <li>
                    <a href="/AboutUses/Index">
                        <i class="fab fa-product-hunt"></i>
                        <span style="margin-left: 8px">AboutUs</span>
                    </a>
                </li>
                <li>
                    <a href="/HostingPlans/Index">
                        <i class="fab fa-product-hunt"></i>
                        <span style="margin-left: 8px">Hosting Plan</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fas fa-share"></i>
                        <span style="margin-left: 8px">Multilevel</span>
                        <i class="fa fa-angle-left go-right"></i>
                    </a>
                    <ul class="sidebar-submenu">
                        <li><a href="#"><i class="fa fa-circle-o"></i> Level One</a></li>
                        <li>
                            <a href="#"><i class="fa fa-circle-o"></i> Level One <i class="fa fa-angle-left go-right"></i></a>
                            <ul class="sidebar-submenu">
                                <li><a href="#"><i class="fa fa-circle-o"></i> Level Two</a></li>
                                <li>
                                    <a href="#"><i class="fa fa-circle-o"></i> Level Two <i class="fa fa-angle-left go-right"></i></a>
                                    <ul class="sidebar-submenu">
                                        <li><a href="/Products/Index"><i class="fa fa-circle-o"></i> Level Three</a></li>
                                        <li><a href="#"><i class="fa fa-circle-o"></i> Level Three</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li><a href="#"><i class="fa fa-circle-o"></i> Level One</a></li>
                    </ul>
                </li>
            </ul>
        </section>

        

        <section style="width: 85%; float: right; margin-top: 20px; font-size: 80%; font-weight: 600;">
            <div class="body-content">

                @RenderBody()

                <hr />
                <footer>
                    <p>&copy; 2019 - Alphasoft</p>
                </footer>
            </div>
        </section>
    </div>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/jquery-ajax-unobtrusive/dist/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/lib/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
    <script src="~/js/sidebar-menu.js"></script>
    <script src="~/lib/DataTables/datatables.min.js"></script>
    <script src="~/lib/select2-4.0.10/dist/js/select2.min.js"></script>
    <script src="~/lib/summernote/dist/summernote.min.js"></script>
    <script src="~/js/dateFormatter.js"></script>
    <script src="~/js/ObjectifyForm.js"></script>
    <script src="~/js/checkImageSize.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Styles", required: false)
    @RenderSection("Scripts", required: false)
</body>
</html>
